@import '../../styles/variables';
@import '../../styles/mixins';

main {
  width: $max-width;
  padding: $spacing-large;
  background: transparent;
}

#resource-content {
  padding: $spacing-large;
  background: $light-color;
  color: $text-color;
  border-radius: 0 0 $border-radius $border-radius;
}