@import '../../styles/variables';
@import '../../styles/mixins';

nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  gap: 1%;
  width: 100%;

  a {
    flex: 1;
    padding: 18px 10px;
    color: $light-color;
    background: $primary-color;
    border: none;
    cursor: pointer;
    text-align: center;
    @include transition;
    font-weight: $font-weight-semibold;
    font-size: $font-size-base;
    font-family: $font-family;
    display: block;
    text-decoration: none;

    &:hover {
      background: $primary-color;
      color: $light-color;
    }

    &.active {
      background: $light-color;
      color: $primary-color;
      font-weight: bold;
    }
  }
}